{% extends 'ApplicationSonataUserBundle:Admin/Security/Resetting:request.html.twig' %}

{% block body %}

    <article>
        <h2></h2>
        <section class="logIn">
            <section>
                {% block message %}
                <p>{{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}</p>
                {% endblock message %}
            </section>
            <a href="{{ path('fos_user_security_login') }}">{{ 'title_user_authentication'|trans({}, 'SonataUserBundle') }}</a>
        </section>
    </article>

{% endblock body %}
