{% extends 'ApplicationSonataUserBundle:Admin/Security/Resetting:checkEmail.html.twig' %}

{% block message %}
    <p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
{% endblock message %}
