{% extends 'ApplicationSonataUserBundle:Admin/Security/Resetting:request.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/ChangePass.css') }}" type="text/css" media="all"/>
{% endblock %}

{% block header_title %}
    <p>Сброс пароля</p>
{% endblock header_title %}

{% block body %}
    <article>
        <h2></h2>
        <section class="logIn">
            {% if not form.vars.valid %}
                <section style="background-color: crimson; color: white">
                    Введенные пароли не совпадают
                </section>
            {% endif %}
            <form id="new_pass" action="{{ path('sonata_user_admin_resetting_reset', {'token': token}) }}"
                  method="post">
                <label><p>Новый пароль</p>
                    <input type="password" placeholder="" name="fos_user_resetting_form[new][first]"
                           required="required">
                </label>
                <label><p>Подтвердите пароль</p>
                    <input type="password" name="fos_user_resetting_form[new][second]" required="required">
                </label>

                {{ form_widget(form._token) }}
                <input value="Изменить пароль" type="submit" id="submitButton">
            </form>
        </section>
    </article>
{% endblock body %}