{% extends 'ApplicationSonataUserBundle:Admin/Security/Resetting:reset.html.twig' %}

{% block sonata_head_title %}
    Ошибка {{ status_code }}
{% endblock %}

{% block header_title %}
    <p>Доступ запрещен!</p>
{% endblock header_title %}

{% block body %}
    <article>
        <h2></h2>
        <p>У Вас нет прав на просмотр запрашиваемой страницы.</p>
        <section class="logIn">
            <a href="{{ path('homepage') }}">Главная страница</a>
        </section>
    </article>
{% endblock %}