<html>
<head></head>
<body>
Ваш аккаунт был успешно создан в система «Электронный журнал» МА ОЦ ПВТ.<br>
Ваш логин: {{ login }}<br>
Ваш пароль: {{ password }} <br>
Для активации аккаунта перейдите по ссылке:
</body>
</html>