.skin-black .main-header>.navbar
{
background-color:#09f
}

.skin-black .main-header > .logo {
    background-color: #09f;
}

.ax_image {
    background-color: white;
	height: 50px;
}

.skin-black .main-header > .logo {
    color: white;
}

.main-sidebar, .left-side {
    padding-top: 100px;
}

.fixed .content-wrapper, .fixed .right-side {
    padding-top: 100px;
}

.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
    background-color: #fff;
}

.skin-black .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #fff;
}

.skin-black .sidebar-menu > li:hover > a, .skin-black .sidebar-menu > li.active > a {
    color: #fff;
    background: #09f;
    border-left-color: #fff;
}

.skin-black .sidebar a {
    color: #09f;
}

.skin-black .sidebar-form input[type="text"], .skin-black .sidebar-form .btn{
    background-color: #fff;
}

@media (max-width:767px){
	#u5_img {
    display: none;}
	
	.skin-black .main-header > .logo {
    display: none;}
}