* {
    margin: 0;
    padding: 0
}

@font-face {
    font-family: bebasNeue;
    src: url(../fonts/bebasNeue.otf)
}

html {
    position: relative;
    height: 100%
}

html body {
    margin: auto;
    width: 960px;
    min-height: 100%;
    position: relative
}

html .container {
    position: relative
}

html .container:after {
    content: " ";
    height: 70px;
    clear: both;
    display: table
}

.headerFont {
    font-family: bebasNeue, sans-serif;
    font-size: 22px
}

.usualFont {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin-bottom: 10px
}

#header_1 {
    width: 100%;
    height: 70px;
    background-color: #fff;
    text-align: center
}

#header_1 img {
    width: 75px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 30px
}

#header_1 > p {
    text-align: center;
    color: #000;
    font-family: Arial, sans-serif;
    padding: 0;
    margin-bottom: 10px;
    font-size: 16px;
    position: relative;
    top: 26px
}

#header_1 aside {
    width: 235px;
    position: absolute;
    top: 0;
    right: 30px;
    text-align: right
}

#header_1 aside p {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin-bottom: 10px
}

#header_1 aside p:first-of-type {
    color: #b8b8b8;
    font-size: 12px;
    margin: 18px 0 6px
}

#header_2 {
    background-color: #018ce7;
    height: 40px;
    width: 100%;
    text-align: center
}

#header_2 p {
    font-family: bebasNeue, sans-serif;
    font-size: 22px;
    color: #fff;
    padding-top: 8px
}

footer {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #018ce7;
    text-align: center;
    bottom: 0
}

footer p {
    color: #fff;
    font-size: 10px;
    font-family: Arial, sans-serif;
    padding-top: 10px
}

h2 {
    font-family: bebasNeue, sans-serif;
    font-size: 22px;
    margin-top: 60px;
    color: #018ce7;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400
}

h2 + p {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin-bottom: 40px;
    text-align: center
}

section.logIn {
    margin: auto;
    width: 220px
}

section.logIn form input {
    height: 30px;
    width: 100%;
    outline: 0;
    border: 1px solid #bfbfbf;
    margin-bottom: 20px
}

section.logIn form input:focus {
    border: 1px solid #0274bf
}

section.logIn form p {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin-bottom: 10px
}

section.logIn form label:last-of-type:first-of-type > p {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 0;
    margin-bottom: 10px
}

section.logIn a {
    font-family: Arial, sans-serif;
    font-size: 12px;
    text-decoration: underline;
    margin-top: 20px;
    text-align: center;
    display: block;
    color: #018ce7
}

article {
    background-image: url(../images/authorization-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 80%;
    width: 100%;
    top: 110px
}

[type=text] {
    text-transform: lowercase
}

[type=checkbox] {
    display: none
}

section.logIn form label:last-of-type > [type=checkbox]:checked + p span {
    background-position: -15px -1px
}

section.logIn form [type=submit] {
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: #018ce7;
    border-radius: 5px;
    color: #fff;
    border: none
}

[type=submit]:hover, section > p:last-child:hover {
    cursor: pointer
}

section.logIn form p.error {
    color: #de260d;
    margin-top: -18px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
    font-size: 12px
}

section.logIn form input.error, section.logIn form input.error:focus {
    border: 1px solid #de260d
}

#unblock {
    margin-top: 130px;
    padding-left: 29px
}

#unblock p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-bottom: 10px
}

::-webkit-input-placeholder {
    font-size: 14px
}

::-moz-placeholder {
    font-size: 14px
}

:-moz-placeholder {
    font-size: 14px
}

:-ms-input-placeholder {
    font-size: 14px
}