{% extends 'AppBundle:CRUD:base_edit.html.twig' %}

{% block form %}
    {{ block('parentForm') }}
    <p>Песочница</p>
    {{ form_start(journalForm) }}
    {{ form_widget(journalForm) }}
    {{ form_end(journalForm) }}
{% endblock %}
