{% extends 'SonataAdminBundle:CRUD:show.html.twig' %}

{% block show %}
    {{ parent() }}
    <h1>Ученики в группе</h1>
    <ul>
        {% for pupilsObject in pupilsObjects %}
            <li>{{ pupilsObject.__toString|e }}</li>
        {% endfor %}
    </ul>
{% endblock %}